*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  height: 100vh;
  width: 280px;
}

.main-pannel{
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none;
}

.box-1{
  border-radius: 10px;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.custom-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s;
}

.custom-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #343a40;
}

.card-button {
  background-color: #0d6efd;
  border: none;
}

.card-button:hover {
  background-color: #0b5ed7;
}

.table th, .table td {
  vertical-align: middle;
  white-space: nowrap;
}
.card h6 {
  font-weight: 600;
  letter-spacing: 0.5px;
}


.react-modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.react-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 92%;
  max-width: 750px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  z-index: 1050;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from {
    transform: translate(-50%, -40%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
